@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #dc2626;
}

body {
  @apply min-h-screen bg-white text-gray-900;
}

/* Hidden scrollbar */
.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
