body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.highlight {
  background-color: #c5c5c5 !important;
}

.warning {
  color: orange;
}

.error {
  color: red;
}

.openContact:hover {
  background: #dddddd;
  cursor: pointer;
}

.table-virtual {
  width: 100%;
}

.table-header {
  position: sticky;
  top: 64px;
  z-index: 200;
}

.tr {
  display: grid;
  grid-template-columns: 40px 40px 70px minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(150px, 1.5fr) 130px 80px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  align-items: center;
}

.table-header .tr {
  background: #505050;
  color: #fff;
  border-bottom: none;
}

.th {
  padding: 8px 4px 8px 15px;
  font-weight: bold;
  white-space: nowrap;
  font-size: 14px;
}

.td {
  padding: 8px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.td.idx {
  justify-content: center;
}

.td.chk {
  justify-content: center;
}

.th.idx {
  padding-left: 4px;
  text-align: center;
}

.th.chk {
  padding-left: 4px;
  text-align: center;
}
